

/*Sets the width of the main contet box.*/
.container {
    width: 960px;
    background-color: white;
    text-align: center;    
}

body {  
    background-color: lightgrey;
    text-align: center;
}

h2{
    margin: 30px;
}

#password{
    text-align: center;   
}

.mainbox2 {
    background-color: lightsteelblue;
    padding: 40px;
}

.btn {
    margin: 20px;
}
