

/*Sets the width of the main contet box on each page.*/
.container {
    
   
    background-color: white;
    text-align: center;    
}

body {
   
background-color: lightgrey;
text-align: center;
}

h2{
    margin: 30px;
}

.mainbox1 {

}

.mainbox2 {
    background-color: lightsteelblue;
    padding: 40px;
    


}

.btn {
    margin: 20px;
}
