

/*Sets the width of the main contet box.*/
.container {
    background-color: white;
    text-align: center;
    border: 10px solid rgb(52, 57, 63);
    margin-top: 15px; 
}

body {  
    text-align: center;
    background-image: repeating-radial-gradient(rgb(28, 39, 97), rgb(127, 128, 159));
}

h2{
    margin: 30px;
}

#password{
    text-align: center;   
}

.mainbox2 {
    background-color: lightsteelblue;
    padding: 40px;
}

.btn {
    margin: 20px;
}
